body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

.content {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  background-color: #1175b7;
}
.header__top-inner {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  font-family: "Raleway", sans-serif;
  display: flex;
}
.contacts__item {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}
.contacts__item--location {
  background-image: url("../images/header-location.png");
}
.contacts__item--tel {
  background-image: url("../images/header-phone.png");
}
.contacts__item--time {
  background-image: url("../images/header-time@1x.png");
}

.header__contacts-item {
  margin-right: 30px;
}

.social-links {
  font-family: "icomoon";
  display: flex;
  justify-content: space-between;
}
.social-links__link {
  margin-left: 20px;
  transition: 0.8s;
}
.social-links__link:hover, .social-links__link:active {
  color: #f6a937;
}

.header__bottom {
  position: relative;
}

.header__bottom-inner {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom-inner a:not(.btn-orange) {
  color: #1175b7;
}

.letter-orange {
  color: #f6a937;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.icon-menu {
  cursor: pointer;
  display: none;
  background-color: transparent;
  padding: 0 5px;
  transition: 0.4s;
}
.icon-menu__top, .icon-menu__middle, .icon-menu__bottom {
  width: 35px;
  height: 5px;
  background-color: #1175b7;
  margin: 6px 0;
  transition: 0.4s;
}

.icon-menu:hover {
  background-color: #f6a937;
}

.icon-menu:hover .icon-menu__line {
  background-color: #fff;
}

.change .icon-menu__top {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .icon-menu__middle {
  opacity: 0;
}

.change .icon-menu__bottom {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
  font-size: 18px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.menu__link {
  margin-left: 15px;
  margin-right: 15px;
}

.header__bottom-inner .header__menu.responsive {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75%;
  left: 0;
  text-align: left;
  background-color: #fff;
  padding-bottom: 5px;
  z-index: 6;
}
.header__bottom-inner .header__menu.responsive .menu__link {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
}
.header__bottom-inner .header__menu.responsive .menu__link:hover {
  color: #f6a937;
  background-color: rgba(17, 117, 183, 0.2);
}

.btn-orange {
  color: #fff;
  background-color: #f6a937;
  white-space: nowrap;
  border-radius: 3px;
  display: inline-block;
}

.header__btn-orange {
  padding: 15px;
}

/*Intro section*/
.intro__slider {
  position: relative;
}
.intro__slider .slick-dots {
  display: flex;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.intro__slider .slick-dots button {
  outline: none;
  border: 0;
  font-size: 0;
  margin-right: 7px;
  border-radius: 50%;
  background-color: #767676;
  width: 7px;
  height: 12px;
}
.intro__slider .slick-dots li.slick-active button:hover, .intro__slider .slick-dots button:hover {
  background-color: #fff;
}

.intro__slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 117, 183, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__slider-item {
  background-image: url("../images/intro__bg@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 800px;
  text-align: center;
  font-size: 18px;
}
.intro__slider-item .intro__slider-subtitle {
  font-size: 1.5em;
  line-height: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-bottom: 0.7em;
}
.intro__slider-item .intro__slider-title {
  font-family: "Nunito", sans-serif;
  font-size: 3.6em;
  line-height: 70px;
  font-weight: 800;
  max-width: 910px;
  margin: 0 auto 0.3em;
}
.intro__slider-item .intro__slider-btn {
  padding: 15px 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

@media screen and (max-width: 968px) {
  .header__contacts {
    flex-direction: column;
    padding-top: 15px;
  }
  .header__contacts-item {
    margin-bottom: 15px;
  }

  .header__bottom-inner {
    flex-wrap: wrap;
  }
  .header__bottom-inner .header__menu {
    order: 3;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .header__menu,
.header__btn-orange {
    display: none;
  }

  .header__btn-orange {
    order: 5;
  }

  .icon-menu {
    display: block;
  }

  .intro__slider-item {
    font-size: 12px;
    min-height: 500px;
  }
}
@media screen and (max-width: 530px) {
  .header__top-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__social-links {
    width: 100%;
    margin-bottom: 15px;
  }
  .header__social-links .header__social-link {
    margin-left: 0;
    margin-right: 20px;
  }

  .intro__slider-item {
    font-size: 9px;
    min-height: 415px;
  }
}
@media screen and (max-width: 375px) {
  .intro__slider-item {
    font-size: 7px;
    min-height: 350px;
  }
  .intro__slider-item .intro__slider-title {
    line-height: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
