body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

.content {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  background-color: #1175b7;
}
.header__top-inner {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  font-family: "Raleway", sans-serif;
  display: flex;
}
.contacts__item {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}
.contacts__item--location {
  background-image: url("../images/header-location.png");
}
.contacts__item--tel {
  background-image: url("../images/header-phone.png");
}
.contacts__item--time {
  background-image: url("../images/header-time@1x.png");
}

.header__contacts-item {
  margin-right: 30px;
}

.social-links {
  font-family: "icomoon";
  display: flex;
  justify-content: space-between;
}
.social-links__link {
  margin-left: 20px;
  transition: 0.8s;
}
.social-links__link:hover, .social-links__link:active {
  color: #f6a937;
}

.header__bottom {
  position: relative;
}

.header__bottom-inner {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom-inner a:not(.btn-orange) {
  color: #1175b7;
}

.letter-orange {
  color: #f6a937;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.icon-menu {
  cursor: pointer;
  display: none;
  background-color: transparent;
  padding: 0 5px;
  transition: 0.4s;
}
.icon-menu__top, .icon-menu__middle, .icon-menu__bottom {
  width: 35px;
  height: 5px;
  background-color: #1175b7;
  margin: 6px 0;
  transition: 0.4s;
}

.icon-menu:hover {
  background-color: #f6a937;
}

.icon-menu:hover .icon-menu__line {
  background-color: #fff;
}

.change .icon-menu__top {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .icon-menu__middle {
  opacity: 0;
}

.change .icon-menu__bottom {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
  font-size: 18px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.menu__link {
  margin-left: 15px;
  margin-right: 15px;
}

.header__bottom-inner .header__menu.responsive {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75%;
  left: 0;
  text-align: left;
  background-color: #fff;
  padding-bottom: 5px;
  z-index: 6;
}
.header__bottom-inner .header__menu.responsive .menu__link {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
}
.header__bottom-inner .header__menu.responsive .menu__link:hover {
  color: #f6a937;
  background-color: rgba(17, 117, 183, 0.2);
}

.btn-orange {
  color: #fff;
  background-color: #f6a937;
  white-space: nowrap;
  border-radius: 3px;
  display: inline-block;
}

.header__btn-orange {
  padding: 15px;
}

/*Intro section*/
.intro {
  margin-bottom: 120px;
}

.intro__slider {
  position: relative;
}
.intro__slider .slick-dots {
  display: flex;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.intro__slider .slick-dots button {
  outline: none;
  border: 0;
  font-size: 0;
  margin-right: 7px;
  border-radius: 50%;
  background-color: #767676;
  width: 7px;
  height: 12px;
}
.intro__slider .slick-dots li.slick-active button:hover, .intro__slider .slick-dots button:hover {
  background-color: #fff;
}

.intro__slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 117, 183, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__slider-item {
  background-image: url("../images/intro__bg@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 800px;
  text-align: center;
  font-size: 18px;
}
.intro__slider-item .intro__slider-subtitle {
  font-size: 1.5em;
  line-height: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-bottom: 0.7em;
}
.intro__slider-item .intro__slider-title {
  font-family: "Nunito", sans-serif;
  font-size: 3.6em;
  line-height: 70px;
  font-weight: 800;
  max-width: 910px;
  margin: 0 auto 0.3em;
}
.intro__slider-item .intro__slider-btn {
  padding: 15px 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

.about {
  margin-bottom: 120px;
}
.about__inner {
  background-image: url("../images/about-bg.jpg");
  background-repeat: no-repeat;
}
.about__inner .about__text {
  background-color: #1175b7;
  max-width: 540px;
  width: 100%;
  padding: 150px 40px 20px 70px;
  min-height: 540px;
  margin-left: auto;
  font-size: 18px;
  border-left: 30px solid #fff;
  border-bottom: 30px solid #fff;
}
.about__inner .about__text .about__subtitle {
  font-family: "Raleway", sans-serif;
  line-height: 20px;
  position: relative;
  margin-bottom: 10px;
  font-weight: 600;
}
.about__inner .about__text .about__subtitle:before {
  content: "";
  position: absolute;
  top: -23px;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #f6a937;
}
.about__inner .about__text .about__title {
  font-family: "Raleway", sans-serif;
  font-size: 43px;
  line-height: 53px;
  margin-bottom: 20px;
  font-weight: 600;
}
.about__inner .about__text .about__desc {
  line-height: 26px;
}

.about__call {
  background-color: #f6a937;
  max-width: 445px;
  width: 100%;
  padding: 50px 35px 50px 140px;
  border-radius: 3px;
  font-weight: 700;
  display: block;
  margin-left: auto;
}
.about__call-to {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.about__call-number {
  font-size: 35px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  max-width: 230px;
  width: 100%;
  white-space: nowrap;
}
.about__call-number:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -75px;
  width: 70px;
  height: 60px;
  background-image: url("../images/about-call.png");
  background-repeat: no-repeat;
}

/*Services section*/
.services {
  background-color: #f9f5f2;
  padding-top: 130px;
  padding-bottom: 100px;
}
.services__text {
  text-align: center;
}
.services__subtitle {
  color: #f6a937;
  margin-bottom: 15px;
}
.services__title {
  color: #414141;
  margin-bottom: 45px;
}

.subtitle {
  font-size: 18px;
  line-height: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.title {
  font-size: 43px;
  line-height: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.services__slider .slick-list {
  margin-left: -15px;
  margin-right: -15px;
}

.services__slider-item {
  outline: none;
}

.services__slider-inner {
  max-width: 360px;
  width: 100%;
  background-color: #fff;
  transition: 0.8s;
  box-shadow: 0px 2px 9.9px 0.1px rgba(163, 163, 163, 0.1);
  color: #8d8c8c;
}
.services__slider-inner .services__slider-offer-img {
  height: 230px;
  margin-bottom: 25px;
  overflow: hidden;
  text-align: center;
}
.services__slider-inner .services__slider-offer-img .services__slider-img {
  width: 100%;
  height: auto;
}
.services__slider-inner .services__slider-info {
  padding: 0 20px 40px 40px;
}
.services__slider-inner .services__slider-icon {
  width: 74px;
  height: 71px;
  overflow: hidden;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}
.services__slider-inner .services__slider-icon--bg1 {
  background: url("../images/css_sprites.png") -10px -10px;
}
.services__slider-inner .services__slider-icon--bg2 {
  background: url("../images/css_sprites.png") -10px -101px;
}
.services__slider-inner .services__slider-icon--bg3 {
  background: url("../images/css_sprites.png") -192px -10px;
}
.services__slider-inner .services__slider-title {
  font-size: 22px;
  line-height: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #8d8c8c;
  margin-bottom: 20px;
}
.services__slider-inner .services__slider-description {
  margin-bottom: 10px;
}

.services__slider-inner:hover {
  background-color: #1175b7;
  color: #fff;
}
.services__slider-inner:hover .services__slider-title {
  color: #fff;
}
.services__slider-inner:hover .services__slider-icon--bg1 {
  background-position: -104px -10px;
}
.services__slider-inner:hover .services__slider-icon--bg2 {
  background-position: -96px -101px;
}
.services__slider-inner:hover .services__slider-icon--bg3 {
  background-position: -192px -101px;
}

.services__slider-button {
  font-size: 22px;
  font-family: "icomoon";
  border-radius: 50%;
  background-color: #fff;
  width: 54px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  border: none;
  outline: none;
  color: #1175b7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.8s;
}

.services__slider-button:hover {
  background-color: #1175b7;
  color: #fff;
}

.services-prev {
  left: -80px;
}

.services-next {
  right: -80px;
}

@media screen and (max-width: 1024px) {
  .about__inner {
    background-image: none;
  }
  .about__inner .about__text,
.about__inner .about__call {
    max-width: none;
  }
  .about__inner .about__text {
    border: none;
    margin-bottom: 30px;
    min-height: 440px;
  }
  .about__inner .about__call {
    text-align: center;
  }
  .about__inner .about__call-number {
    margin: auto;
  }

  .intro,
.about {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 968px) {
  .header__contacts {
    flex-direction: column;
    padding-top: 15px;
  }
  .header__contacts-item {
    margin-bottom: 15px;
  }

  .header__bottom-inner {
    flex-wrap: wrap;
  }
  .header__bottom-inner .header__menu {
    order: 3;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .header__menu,
.header__btn-orange {
    display: none;
  }

  .header__btn-orange {
    order: 5;
  }

  .icon-menu {
    display: block;
  }

  .intro__slider-item {
    font-size: 12px;
    min-height: 500px;
  }

  .about__inner {
    margin-left: -15px;
    margin-right: -15px;
  }
  .about__inner .about__text {
    padding: 45px 20px;
    min-height: auto;
  }
  .about__inner .about__text .about__title {
    font-size: 33px;
    line-height: 33px;
  }
  .about__inner .about__call {
    padding: 30px 15px 30px 50px;
  }
}
@media screen and (max-width: 530px) {
  .header__top-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__social-links {
    width: 100%;
    margin-bottom: 15px;
  }
  .header__social-links .header__social-link {
    margin-left: 0;
    margin-right: 20px;
  }

  .intro__slider-item {
    font-size: 9px;
    min-height: 415px;
  }
}
@media screen and (max-width: 375px) {
  .intro__slider-item {
    font-size: 7px;
    min-height: 350px;
  }
  .intro__slider-item .intro__slider-title {
    line-height: 40px;
  }

  .about__inner .about__call {
    padding-top: 80px;
  }
  .about__inner .about__call .about__call-number:before {
    bottom: 65px;
    left: 50%;
    transform: translate(-50%);
  }
}

/*# sourceMappingURL=main.css.map */
