@charset "UTF-8";
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

.content {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  background-color: #1175b7;
}
.header__top-inner {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  font-family: "Raleway", sans-serif;
  display: flex;
}
.contacts__item {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}
.contacts__item--location {
  background-image: url("../images/header-location.png");
}
.contacts__item--tel {
  background-image: url("../images/header-phone.png");
}
.contacts__item--time {
  background-image: url("../images/header-time@1x.png");
}

.header__contacts-item {
  margin-right: 30px;
}

.social-links {
  font-family: "icomoon";
  display: flex;
  justify-content: space-between;
}
.social-links__link {
  margin-left: 20px;
  transition: 0.8s;
}
.social-links__link:hover, .social-links__link:active {
  color: #f6a937;
}

.header__bottom {
  position: relative;
}

.header__bottom-inner {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom-inner a:not(.btn-orange) {
  color: #1175b7;
}

.letter-orange {
  color: #f6a937;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.icon-menu {
  cursor: pointer;
  display: none;
  background-color: transparent;
  padding: 0 5px;
  transition: 0.4s;
}
.icon-menu__top, .icon-menu__middle, .icon-menu__bottom {
  width: 35px;
  height: 5px;
  background-color: #1175b7;
  margin: 6px 0;
  transition: 0.4s;
}

.icon-menu:hover {
  background-color: #f6a937;
}

.icon-menu:hover .icon-menu__line {
  background-color: #fff;
}

.change .icon-menu__top {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .icon-menu__middle {
  opacity: 0;
}

.change .icon-menu__bottom {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
  font-size: 18px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.menu__link {
  margin-left: 15px;
  margin-right: 15px;
}

.header__bottom-inner .header__menu.responsive {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75%;
  left: 0;
  text-align: left;
  background-color: #fff;
  z-index: 6;
}
.header__bottom-inner .header__menu.responsive .menu__link {
  margin-left: 0;
  margin-right: 0;
  padding: 10px 10px 10px 15px;
}
.header__bottom-inner .header__menu.responsive .menu__link:hover {
  color: #f6a937;
  background-color: rgba(17, 117, 183, 0.2);
}

.header__bottom-inner .btn-orange.responsive-btn {
  display: block;
  position: absolute;
  top: 294%;
  left: 0px;
  z-index: 6;
  width: 100%;
  text-align: center;
}

.btn-orange {
  color: #fff;
  background-color: #f6a937;
  white-space: nowrap;
  border-radius: 3px;
  display: inline-block;
  opacity: 1;
  transition: 0.5s;
}

.btn-orange:hover {
  opacity: 0.9;
}

.header__btn-orange {
  padding: 15px;
}

/*Intro section*/
.intro {
  margin-bottom: 120px;
}

.intro__slider,
.services__slider {
  position: relative;
}
.intro__slider .slick-dots,
.services__slider .slick-dots {
  display: flex;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.intro__slider .slick-dots button,
.services__slider .slick-dots button {
  outline: none;
  border: 0;
  font-size: 0;
  margin-right: 7px;
  border-radius: 50%;
  background-color: #767676;
  width: 7px;
  height: 12px;
}
.intro__slider .slick-dots li.slick-active button:hover, .intro__slider .slick-dots button:hover,
.services__slider .slick-dots li.slick-active button:hover,
.services__slider .slick-dots button:hover {
  background-color: #fff;
}

.intro__slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 117, 183, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__slider-item {
  background-image: url("../images/intro__bg@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 800px;
  text-align: center;
  font-size: 18px;
}
.intro__slider-item .intro__slider-subtitle {
  font-size: 1.5em;
  line-height: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-bottom: 0.7em;
}
.intro__slider-item .intro__slider-title {
  font-family: "Nunito", sans-serif;
  font-size: 3.6em;
  line-height: 70px;
  font-weight: 800;
  max-width: 910px;
  margin: 0 auto 0.3em;
}
.intro__slider-item .intro__slider-btn {
  padding: 15px 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

.about {
  margin-bottom: 120px;
}
.about__inner {
  background-image: url("../images/about-bg.jpg");
  background-repeat: no-repeat;
}
.about__inner .about__text {
  background-color: #1175b7;
  max-width: 540px;
  width: 100%;
  padding: 150px 40px 20px 70px;
  min-height: 540px;
  margin-left: auto;
  font-size: 18px;
  border-left: 30px solid #fff;
  border-bottom: 30px solid #fff;
}
.about__inner .about__text .about__subtitle {
  position: relative;
  margin-bottom: 10px;
}
.about__inner .about__text .about__title {
  margin-bottom: 20px;
}
.about__inner .about__text .about__desc {
  line-height: 26px;
}

.about__subtitle:before,
.advantages__choice-subtitle:before,
.book__text-subtitle:before {
  content: "";
  position: absolute;
  top: -23px;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #f6a937;
}

.about__call {
  margin-left: auto;
}

.call {
  background-color: #f6a937;
  max-width: 445px;
  width: 100%;
  padding: 50px 35px 50px 140px;
  border-radius: 3px;
  font-weight: 700;
  display: block;
}
.call-to {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.call-number {
  font-size: 35px;
  display: block;
  position: relative;
  max-width: 230px;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 10px;
}
.call-number:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -80px;
  width: 70px;
  height: 70px;
  background-image: url("../images/about-call.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*Services section*/
.services {
  background-color: #f9f5f2;
  padding-top: 130px;
  padding-bottom: 100px;
}
.services__text {
  text-align: center;
}
.services__subtitle {
  color: #f6a937;
  margin-bottom: 15px;
}
.services__title {
  color: #414141;
  margin-bottom: 45px;
}

.services__slider .slick-dots {
  top: -8%;
}
.services__slider .slick-dots button {
  background-color: rgba(118, 118, 118, 0.3);
}
.services__slider .slick-dots li.slick-active button:hover, .services__slider .slick-dots button:hover {
  background-color: #1175b7;
}

.subtitle {
  font-size: 18px;
  line-height: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.title {
  font-size: 43px;
  line-height: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.services__slider .slick-list {
  margin-left: -15px;
  margin-right: -15px;
}

.services__slider-item {
  outline: none;
}

.services__slider-inner {
  max-width: 360px;
  width: 100%;
  background-color: #fff;
  transition: 0.8s;
  box-shadow: 0px 2px 9.9px 0.1px rgba(163, 163, 163, 0.1);
  color: #8d8c8c;
}
.services__slider-inner .services__slider-offer-img {
  height: 230px;
  width: 100%;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
}
.services__slider-inner .services__slider-offer-img .services__slider-img {
  position: absolute;
  width: 100%;
  height: auto;
}
.services__slider-inner .services__slider-info {
  padding: 0 20px 40px 40px;
}
.services__slider-inner .services__slider-icon {
  width: 74px;
  height: 71px;
  overflow: hidden;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}
.services__slider-inner .services__slider-icon--bg1 {
  background: url("../images/css_sprites.png") -10px -10px;
}
.services__slider-inner .services__slider-icon--bg2 {
  background: url("../images/css_sprites.png") -10px -101px;
}
.services__slider-inner .services__slider-icon--bg3 {
  background: url("../images/css_sprites.png") -192px -10px;
}
.services__slider-inner .services__slider-title {
  font-size: 22px;
  line-height: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #8d8c8c;
  margin-bottom: 20px;
}
.services__slider-inner .services__slider-description {
  margin-bottom: 10px;
}

.services__slider-inner:hover {
  background-color: #1175b7;
  color: #fff;
}
.services__slider-inner:hover .services__slider-title {
  color: #fff;
}
.services__slider-inner:hover .services__slider-icon--bg1 {
  background-position: -104px -10px;
}
.services__slider-inner:hover .services__slider-icon--bg2 {
  background-position: -96px -101px;
}
.services__slider-inner:hover .services__slider-icon--bg3 {
  background-position: -192px -101px;
}

.services__slider-button {
  font-size: 22px;
  font-family: "icomoon";
  border-radius: 50%;
  background-color: #fff;
  width: 54px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  border: none;
  outline: none;
  color: #1175b7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.8s;
}

.services__slider-button:hover {
  background-color: #1175b7;
  color: #fff;
}

.services-prev {
  left: -80px;
}

.services-next {
  right: -80px;
}

/*advantages section*/
.features {
  background-color: #1175b7;
  padding: 70px 0;
}
.features__inner {
  display: flex;
  justify-content: space-between;
}
.features__item {
  text-align: center;
  margin-bottom: 10px;
  width: 25%;
}
.features__item-icon {
  margin-bottom: 15px;
}
.features__item-desc {
  font-size: 27px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}
.features__item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.advantages__choice-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
  margin-bottom: 100px;
}
.advantages__choice-inner .advantages__choice-img {
  margin-right: 55px;
  max-width: 480px;
}
.advantages__choice-inner .advantages__choice-img img {
  width: 100%;
  height: auto;
}
.advantages__choice-inner .advantages__choice-text {
  padding-top: 50px;
}
.advantages__choice-inner .advantages__choice-subtitle {
  color: #1175b7;
  margin-bottom: 10px;
  position: relative;
}
.advantages__choice-inner .advantages__choice-title {
  color: #1175b7;
  margin-bottom: 40px;
}

.advantages__choice-reasons {
  margin-bottom: 25px;
}
.advantages__choice-reasons .advantages__choice-reason {
  padding-left: 30px;
  color: #414141;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  margin-bottom: 15px;
}
.advantages__choice-reasons .advantages__choice-reason:before,
.advantages__choice-reasons .advantages__choice-reason:after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.advantages__choice-reasons .advantages__choice-reason:before {
  content: "✔";
  font-size: 14px;
  line-height: 55px;
  color: #f6a937;
  left: 3px;
}
.advantages__choice-reasons .advantages__choice-reason:after {
  content: "";
  border: 1px solid #f6a937;
  width: 16px;
  height: 16px;
}

.advantages__choice-btn {
  padding: 25px 20px 25px 75px;
  max-width: 270px;
  white-space: normal;
  font-size: 18px;
  position: relative;
}

.advantages__choice-btn:before {
  content: "";
  background-image: url(../images/advantages-icon-btn.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 46px;
  height: 46px;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.project {
  padding-bottom: 85px;
}
.project__text {
  text-align: center;
}
.project__text-title {
  color: #414141;
  margin-bottom: 25px;
}
.project__text-subtitle {
  color: #767676;
  margin-bottom: 50px;
  max-width: 550px;
  margin: 0 auto 50px;
  line-height: 24px;
}

.subtitle--bottom {
  position: relative;
}

.subtitle--bottom:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: #f6a937;
}

.project__nav {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.project__nav .project__nav-item {
  color: #767676;
  font-weight: 600;
  padding: 7px 10px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: 0.4s;
}
.project__nav .project__nav-item:hover {
  background-color: #f6a937;
  color: #fff;
  border-radius: 4px;
}
.project__nav .project__nav-item--active {
  background-color: #f6a937;
  color: #fff;
  border-radius: 4px;
}

.project__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
}
.project__gallery .project__gallery-item {
  display: none;
  margin: 0 15px 30px;
  width: calc(33.33% - 30px);
}

.project__gallery-item.show {
  display: block;
}

/*Delivery section*/
.delivery {
  background-image: url(../images/delivery-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  min-height: 670px;
  margin-bottom: 360px;
}
.delivery__inner-bg {
  background-color: rgba(246, 169, 55, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.delivery__inner-bg .delivery__inner {
  position: relative;
  min-height: 670px;
}

.delivery__order {
  padding-top: 100px;
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto 40px;
}
.delivery__order-title {
  font-size: 45px;
  margin-bottom: 40px;
}
.delivery__order-btn {
  display: inline-block;
  background-color: #fff;
  padding: 15px 45px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
}
.delivery__order a.delivery__order-btn {
  color: #f6a937;
}

.reviews-slider-text {
  background-color: #1175b7;
  min-height: 550px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.reviews-slider-text .reviews-slider-text__item {
  padding: 220px 20px 20px;
  text-align: center;
  height: 100%;
}
.reviews-slider-text .reviews-slider-text__item-desc {
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  max-width: 750px;
  margin: 0 auto 35px;
}
.reviews-slider-text .reviews-slider-text__item-author {
  font-size: 22px;
  line-height: 48px;
  margin-right: 35px;
  margin-bottom: 60px;
}
.reviews-slider-text .reviews-slider-text__item-date {
  text-align: right;
  margin-top: auto;
  font-size: 18px;
}

.reviews-slider-photos {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.reviews-slider-photos__item-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 25px;
  margin-right: 25px;
}
.reviews-slider-photos__item-photo img {
  width: 100%;
  height: 100%;
}

/*Blog*/
.blog {
  color: #414141;
  margin-bottom: 100px;
}
.blog__articles {
  display: flex;
  justify-content: space-between;
}
.blog__articles .blog__article {
  position: relative;
}
.blog__articles .blog__article-img {
  margin-bottom: 15px;
}
.blog__articles .blog__article-date {
  position: absolute;
  top: 15px;
  left: 0;
  color: #fff;
  padding: 5px 6px;
  background-color: #f6a937;
  border-radius: 0 3px 3px 0;
}
.blog__articles .blog__article-title {
  font-size: 22px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
}
.blog__articles .blog__article-icons {
  display: flex;
  font-size: 14px;
  margin-bottom: 15px;
  color: #7e7d7d;
}
.blog__articles .blog__article-icons .blog__article-icon {
  margin-right: 20px;
}
.blog__articles .blog__article-icons .icon {
  stroke: #f6a937;
}
.blog__articles .blog__article-desc {
  margin-bottom: 10px;
  color: #7e7d7d;
}
.blog__articles .blog__article-btn-more {
  color: #313131;
  text-transform: uppercase;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.blog__text {
  text-align: center;
}
.blog__text-title {
  max-width: 550px;
  margin: 0 auto 25px;
}
.blog__text-subtitle {
  margin-bottom: 60px;
}

.blog__article--big {
  width: 50%;
  margin-right: 25px;
}
.blog__article--big img {
  width: 100%;
}

.blog__article-right {
  margin-left: auto;
  width: 45%;
}
.blog__article-right .blog__article--horizont {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(141, 140, 140, 0.7);
}
.blog__article-right .blog__article--horizont .blog__article-inner {
  max-width: 245px;
  margin-left: 15px;
}
.blog__article-right .blog__article--horizont:last-child {
  border: none;
}

.icon {
  color: #f6a937;
  font-family: "icomoon";
  margin-right: 8px;
}

/*Book*/
.book {
  margin-bottom: 115px;
}
.book__inner {
  background-image: url("../images/book-bg.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}
.book__inner .book__right {
  margin-left: auto;
  max-width: 570px;
  color: #414141;
}
.book__inner .book__right .book__text {
  background-color: #fce5c3;
  border-bottom: 30px solid #fff;
  padding: 75px 60px 40px 60px;
}
.book__inner .book__right .book__text-subtitle {
  position: relative;
  margin-bottom: 10px;
}
.book__inner .book__right .book__text-title {
  margin-bottom: 40px;
}
.book__inner .book__right .book__text .book__form input {
  padding: 20px 25px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.book__inner .book__right .book__text .book__form input::placeholder {
  color: #414141;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
.book__inner .book__right .book__text .book__form input:focus {
  border: 1px solid #f6a937;
}
.book__inner .book__right .book__text .book__form-btn {
  border: none;
  outline: none;
  background-color: #f6a937;
  padding: 15px 30px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.book__inner .book__right .book__text,
.book__inner .book__right .book__call {
  border-left: 30px solid #fff;
}
.book__inner .book__right .book__call {
  margin-left: auto;
  max-width: 480px;
}

.footer {
  background-color: #1175b7;
}

.footer__top {
  border-bottom: 1px solid rgba(176, 167, 214, 0.7);
}
.footer__top .footer__contacts {
  display: flex;
  justify-content: space-between;
}
.footer__top .footer__contacts-item {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.footer__top .footer__contacts-item:before {
  content: "";
  position: absolute;
  top: 0;
  right: -125px;
  height: 100%;
  width: 1px;
  background-color: rgba(176, 167, 214, 0.7);
}
.footer__top .footer__contacts-item:last-child:before {
  display: none;
}

.footer__content {
  background-image: url(../images/footer-bg-texture.png);
  background-size: cover;
  padding-top: 110px;
}
.footer__content .footer__text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
  border-bottom: 1px solid rgba(176, 167, 214, 0.7);
}
.footer__content .footer__text-item {
  width: 30%;
}
.footer__content .footer__text-subtitle:before {
  left: 0;
  transform: translateX(0);
  height: 3px;
  width: 30px;
}
.footer__content .footer__text-subtitle {
  margin-bottom: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
}
.footer__content .footer__text-desc {
  max-width: 300px;
  margin-bottom: 30px;
}
.footer__content .footer__text .footer__social-links {
  max-width: 210px;
}
.footer__content .footer__text .footer__social-links .footer__social-link {
  margin-left: 0;
  width: 37px;
  height: 37px;
  background-color: #fff;
  color: #414141;
  line-height: 37px;
  text-align: center;
  border-radius: 50%;
  transition: 0.5s;
}
.footer__content .footer__text .footer__social-links .footer__social-link:hover {
  background-color: #f6a937;
  color: #fff;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__nav-item {
  display: block;
  line-height: 40px;
}

.footer__newsletter {
  padding-left: 40px;
}
.footer__newsletter .footer__text-desc {
  margin-bottom: 40px;
}
.footer__newsletter .footer__email {
  width: 75%;
  outline: none;
  border: 1px solid #f6a937;
  padding: 15px 20px;
}
.footer__newsletter .footer__email::placeholder {
  font-family: inherit;
  font-size: inherit;
}
.footer__newsletter .footer__submit {
  width: 20%;
  width: 51px;
  height: 49px;
  padding: 0;
  background-color: #f6a937;
  font-family: "icomoon";
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  position: relative;
  left: -5px;
  top: 4px;
  opacity: 1;
}
.footer__newsletter .footer__submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

.footer__links {
  padding-left: 25px;
}

.footer__bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__bottom .footer__logo {
  margin-right: 100px;
}
.footer__bottom .footer__btn-up {
  border-radius: 4px;
  width: 35px;
  height: 37px;
  background-color: #f6a937;
  position: absolute;
  right: 7.5vw;
  font-family: "icomoon";
  text-align: center;
  font-size: 23px;
  line-height: 30px;
}

@media screen and (max-width: 1440px) {
  .services__slider-inner {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1180px) {
  .project__gallery {
    margin-left: 0;
    margin-right: 0;
  }

  .blog__article-right {
    display: flex;
    width: auto;
  }
  .blog__article-right .blog__article--horizont {
    flex-direction: column;
    margin-right: 10px;
    border: none;
  }
}
@media screen and (max-width: 1024px) {
  .about__inner {
    background-image: none;
  }
  .about__inner .about__text,
.about__inner .about__call {
    max-width: none;
  }
  .about__inner .about__text {
    border: none;
    margin-bottom: 30px;
    min-height: 440px;
  }
  .about__inner .about__call {
    text-align: center;
  }
  .about__inner .about__call-number {
    margin: auto;
  }

  .intro,
.about {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 968px) {
  .header__contacts {
    flex-direction: column;
    padding-top: 15px;
  }
  .header__contacts-item {
    margin-bottom: 15px;
  }

  .header__bottom-inner {
    flex-wrap: wrap;
  }
  .header__bottom-inner .header__menu {
    order: 3;
    width: 100%;
    text-align: center;
  }

  .advantages__choice-inner {
    margin-top: 15px;
    margin-bottom: 75px;
  }
  .advantages__choice-inner .advantages__choice-img {
    display: none;
  }
  .advantages__choice-inner .advantages__choice-text {
    text-align: center;
  }
  .advantages__choice-inner .advantages__choice-text .advantages__choice-subtitle:before {
    left: 50%;
    transform: translateX(-50%);
  }
  .advantages__choice-inner .advantages__choice-text .advantages__choice-reasons {
    max-width: 570px;
    text-align: left;
    margin: 0 auto 25px auto;
  }

  .project__gallery .project__gallery-item {
    width: calc(50% - 30px);
  }

  .blog__articles .blog__article-title {
    font-size: 18px;
  }

  .blog__articles .blog__article-btn-more {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .header__menu,
.header__btn-orange {
    display: none;
  }

  .header__btn-orange {
    order: 5;
  }

  .icon-menu {
    display: block;
  }

  .intro__slider-item {
    font-size: 12px;
    min-height: 500px;
  }

  .about,
.intro {
    margin-bottom: 0;
  }

  .about__inner {
    margin-left: -15px;
    margin-right: -15px;
  }
  .about__inner .about__text {
    padding: 45px 20px;
    min-height: auto;
    margin-bottom: 0;
  }
  .about__inner .about__text .about__title {
    font-size: 33px;
    line-height: 33px;
  }
  .about__inner .about__call {
    padding: 30px 15px 30px 50px;
  }

  .services {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .features {
    padding: 30px 0;
  }
  .features__inner {
    flex-wrap: wrap;
  }
  .features__inner .features__item {
    width: 50%;
    border: none;
    margin-bottom: 15px;
  }

  .advantages__choice-title {
    font-size: 33px;
  }

  .advantages__choice-reasons .advantages__choice-reason {
    font-size: 16px;
  }

  .project__gallery .project__gallery-item {
    margin: 0 7px 15px;
  }

  .blog__article-right {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }

  .blog__articles {
    flex-wrap: wrap;
  }

  .blog__article--big {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 25px;
  }
}
@media screen and (max-width: 600px) {
  .project__gallery .project__gallery-item {
    width: calc(100% - 14px);
  }

  .blog__article-right .blog__article--horizont {
    margin-bottom: 0;
  }
  .blog__article-right .blog__article--horizont .blog__article-inner {
    max-width: none;
  }

  .blog__article--horizont img {
    margin-right: auto;
  }
}
@media screen and (max-width: 530px) {
  .header__top-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__social-links {
    width: 100%;
    margin-bottom: 15px;
  }
  .header__social-links .header__social-link {
    margin-left: 0;
    margin-right: 20px;
  }

  .intro__slider-item {
    font-size: 9px;
    min-height: 415px;
  }

  .features__item-desc {
    font-size: 22px;
  }

  .advantages__choice-inner .advantages__choice-title {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .project__text-title {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 0;
  }

  .project__text-subtitle {
    font-size: 14px;
  }

  .project__nav {
    display: block;
  }

  .project__nav .project__nav-item {
    width: 100%;
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  .intro__slider-item {
    font-size: 7px;
    min-height: 350px;
  }
  .intro__slider-item .intro__slider-title {
    line-height: 40px;
  }

  .about__inner .about__call {
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 15px;
  }

  .about__call-number:before {
    bottom: 65px;
    left: 50%;
    transform: translate(-50%);
    width: 40px;
    height: 40px;
  }

  .title {
    font-size: 27px;
  }

  .subtitle {
    font-size: 15px;
  }

  .services__slider-inner .services__slider-offer-img {
    height: 61vw;
    margin-bottom: 10px;
  }

  .services__slider-inner .services__slider-title {
    line-height: 45px;
    margin-bottom: 10px;
  }

  .services__subtitle {
    margin-bottom: 0;
  }

  .features__item-desc {
    font-size: 16px;
  }

  .advantages__choice-reasons .advantages__choice-reason {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
