$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$icon-font: 'icomoon';
$intro-slider-font: 'Nunito', sans-serif;
$primary-color-text: #fff;
$secondary-color-text: #7e7d7d;
$intro-slider-color-dots: #767676;
$title-color: #414141;
$services-slider-color: #8d8c8c;
$primary-bg: #1175b7;
$services-bg: #f9f5f2;
$link-bg: #f6a937;
$book-bgcolor: #fce5c3;
$read-more-link: #313131;
$footer-border: #b0a7d6;
body {
	font-family: $primary-font;
	font-size: 16px;
	line-height: 24px;
	color: $primary-color-text;
}
a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: $primary-color-text;
}
.content {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.header__top {
	background-color: $primary-bg;
	&-inner {
		min-height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.contacts {
	font-family: $secondary-font;
	display: flex;
	&__item {
		padding-left: 20px;
		background-repeat: no-repeat;
		background-position: left center;
	}
	&__item--location {
		background-image: url('../images/header-location.png');
	}
	&__item--tel {
		background-image: url('../images/header-phone.png');
	}
	&__item--time {
		background-image: url('../images/header-time@1x.png');
	}
}
.header__contacts-item {
	margin-right: 30px;
}
.social-links {
	font-family: 'icomoon';
	display: flex;
	justify-content: space-between;
	&__link {
		margin-left: 20px;
		transition: 0.8s;
		&:hover,
		&:active {
			color: $link-bg;
		}
	}
}
.header__bottom {
	position: relative;
}
.header__bottom-inner {
	min-height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// position: relative;
	a:not(.btn-orange) {
		color: $primary-bg;
	}
}
.letter-orange {
	color: $link-bg;
}
.logo {
	font-size: 32px;
	font-weight: 700;
}
.icon-menu {
	cursor: pointer;
	display: none;
	background-color: transparent;
	padding: 0 5px;
	transition: 0.4s;
	&__top,
	&__middle,
	&__bottom {
		width: 35px;
		height: 5px;
		background-color: $primary-bg;
		margin: 6px 0;
		transition: 0.4s;
	}
}
.icon-menu:hover {
	background-color: $link-bg;
}
.icon-menu:hover .icon-menu__line {
	background-color: $primary-color-text;
}
.change .icon-menu__top {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
.change .icon-menu__middle {
	opacity: 0;
}
.change .icon-menu__bottom {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
.menu {
	font-size: 18px;
	font-weight: 600;
	font-family: $secondary-font;

	&__link {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.header__bottom-inner .header__menu.responsive {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 75%;
	left: 0;
	text-align: left;
	background-color: $primary-color-text;
	z-index: 6;
	& .menu__link {
		margin-left: 0;
		margin-right: 0;
		padding: 10px 10px 10px 15px;
	}
	& .menu__link:hover {
		color: $link-bg;
		background-color: rgba($primary-bg, 0.2);
	}
}
.header__bottom-inner .btn-orange.responsive-btn {
	display: block;
	position: absolute;
	top: 294%;
	left: 0px;
	z-index: 6;
	width: 100%;
	text-align: center;
}
.btn-orange {
	color: $primary-color-text;
	background-color: $link-bg;
	white-space: nowrap;
	border-radius: 3px;
	display: inline-block;
	opacity: 1;
	transition: 0.5s;
}
.btn-orange:hover {
	opacity: 0.9;
}
.header__btn-orange {
	padding: 15px;
}
/*Intro section*/
.intro {
	margin-bottom: 120px;
}
.intro__slider {
	position: relative;
	.slick-dots {
		display: flex;
		position: absolute;
		top: 90%;
		left: 50%;
		transform: translateX(-50%);
		button {
			outline: none;
			border: 0;
			font-size: 0;
			margin-right: 7px;
			border-radius: 50%;
			background-color: $intro-slider-color-dots;
			width: 7px;
			height: 12px;
		}
		li.slick-active button:hover,
		& button:hover {
			background-color: $primary-color-text;
		}
	}
}
.intro__slider-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($primary-bg, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}
.intro__slider-item {
	background-image: url('../images/intro__bg@1x.jpg');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 800px;
	text-align: center;
	font-size: 18px;
	.intro__slider-subtitle {
		font-size: 1.5em;
		line-height: 16px;
		font-family: $secondary-font;
		font-weight: 600;
		margin-bottom: 0.7em;
	}
	.intro__slider-title {
		font-family: $intro-slider-font;
		font-size: 3.6em;
		line-height: 70px;
		font-weight: 800;
		max-width: 910px;
		margin: 0 auto 0.3em;
	}
	.intro__slider-btn {
		padding: 15px 30px;
		margin-bottom: 10px;
		font-size: 18px;
	}
}
.about {
	margin-bottom: 120px;
	&__inner {
		background-image: url('../images/about-bg.jpg');
		background-repeat: no-repeat;
		.about__text {
			background-color: $primary-bg;
			max-width: 540px;
			width: 100%;
			padding: 150px 40px 20px 70px;
			min-height: 540px;
			margin-left: auto;
			font-size: 18px;
			border-left: 30px solid $primary-color-text;
			border-bottom: 30px solid $primary-color-text;
			.about__subtitle {
				position: relative;
				margin-bottom: 10px;
			}

			.about__title {
				margin-bottom: 20px;
			}
			.about__desc {
				line-height: 26px;
			}
		}
	}
}
.about__subtitle:before,
.advantages__choice-subtitle:before,
.book__text-subtitle:before {
	content: '';
	position: absolute;
	top: -23px;
	left: 0;
	width: 30px;
	height: 4px;
	background-color: $link-bg;
}
.about__call {
	margin-left: auto;
}
.call {
	background-color: $link-bg;
	max-width: 445px;
	width: 100%;
	padding: 50px 35px 50px 140px;
	border-radius: 3px;
	font-weight: 700;
	display: block;
	&-to {
		font-family: $secondary-font;
		font-size: 18px;
		display: block;
		margin-bottom: 10px;
	}
	&-number {
		font-size: 35px;
		display: block;
		position: relative;
		max-width: 230px;
		width: 100%;
		white-space: nowrap;
		margin-bottom: 10px;
	}
	&-number:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: -80px;
		width: 70px;
		height: 70px;
		background-image: url('../images/about-call.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
}
/*Services section*/
.services {
	background-color: $services-bg;
	padding-top: 130px;
	padding-bottom: 100px;
	&__text {
		text-align: center;
	}
	&__subtitle {
		color: $link-bg;
		margin-bottom: 15px;
	}
	&__title {
		color: $title-color;
		margin-bottom: 45px;
	}
}
.subtitle {
	font-size: 18px;
	line-height: 16px;
	font-family: $secondary-font;
	font-weight: 600;
}
.title {
	font-size: 43px;
	line-height: 55px;
	font-family: $secondary-font;
	font-weight: 600;
}
.services__slider .slick-list {
	margin-left: -15px;
	margin-right: -15px;
}
.services__slider-item {
	outline: none;
}
.services__slider-inner {
	max-width: 360px;
	width: 100%;
	background-color: $primary-color-text;
	transition: 0.8s;
	box-shadow: 0px 2px 9.9px 0.1px rgba(163, 163, 163, 0.1);
	color: $services-slider-color;
	.services__slider-offer-img {
		height: 230px;
		width: 100%;
		margin-bottom: 25px;
		overflow: hidden;
		position: relative;

		.services__slider-img {
			position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
			width: 100%;
			height: auto;
		}
	}
	.services__slider-info {
		padding: 0 20px 40px 40px;
	}
	.services__slider-icon {
		width: 74px;
		height: 71px;
		overflow: hidden;
		margin-bottom: 10px;
		background-repeat: no-repeat;
	}
	.services__slider-icon--bg1 {
		background: url('../images/css_sprites.png') -10px -10px;
	}
	.services__slider-icon--bg2 {
		background: url('../images/css_sprites.png') -10px -101px;
	}
	.services__slider-icon--bg3 {
		background: url('../images/css_sprites.png') -192px -10px;
	}
	.services__slider-title {
		font-size: 22px;
		line-height: 55px;
		font-family: $secondary-font;
		font-weight: 700;
		color: $services-slider-color;
		margin-bottom: 20px;
	}
	.services__slider-description {
		margin-bottom: 10px;
	}
}
.services__slider-inner:hover {
	background-color: $primary-bg;
	color: $primary-color-text;
	& .services__slider-title {
		color: $primary-color-text;
	}
	.services__slider-icon--bg1 {
		background-position: -104px -10px;
	}
	.services__slider-icon--bg2 {
		background-position: -96px -101px;
	}
	.services__slider-icon--bg3 {
		background-position: -192px -101px;
	}
}
.services__slider-button {
	font-size: 22px;
	font-family: $icon-font;
	border-radius: 50%;
	background-color: $primary-color-text;
	width: 54px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	border: none;
	outline: none;
	color: $primary-bg;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.8s;
}
.services__slider-button:hover {
	background-color: $primary-bg;
	color: $primary-color-text;
}
.services-prev {
	left: -80px;
}
.services-next {
	right: -80px;
}
/*advantages section*/
.features {
	background-color: $primary-bg;
	padding: 70px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		text-align: center;
		margin-bottom: 10px;
		width: 25%;

		&-icon {
			margin-bottom: 15px;
		}
		&-desc {
			font-size: 27px;
			font-weight: 600;
			line-height: 30px;
			margin-bottom: 10px;
		}
	}
	&__item:not(:last-child) {
		border-right: 1px solid rgba($primary-color-text, 0.5);
	}
}
.advantages__choice-inner {
	display: flex;
	justify-content: space-between;
	margin-top: 115px;
	margin-bottom: 100px;
	.advantages__choice-img {
		margin-right: 55px;
		max-width: 480px;
		& img {
			width: 100%;
			height: auto;
		}
	}
	.advantages__choice-text {
		padding-top: 50px;
	}
	.advantages__choice-subtitle {
		color: $primary-bg;
		margin-bottom: 10px;
		position: relative;
	}
	.advantages__choice-title {
		color: $primary-bg;
		margin-bottom: 40px;
	}
}
.advantages__choice-reasons {
	margin-bottom: 25px;
	.advantages__choice-reason {
		padding-left: 30px;
		color: $title-color;
		font-size: 20px;
		line-height: 20px;
		position: relative;
		margin-bottom: 15px;
	}
	.advantages__choice-reason:before,
	.advantages__choice-reason:after {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	.advantages__choice-reason:before {
		content: '\2714';
		font-size: 14px;
		line-height: 55px;
		color: $link-bg;
		left: 3px;
	}
	.advantages__choice-reason:after {
		content: '';
		border: 1px solid $link-bg;
		width: 16px;
		height: 16px;
	}
}
.advantages__choice-btn {
	padding: 25px 20px 25px 75px;
	max-width: 270px;
	white-space: normal;
	font-size: 18px;
	position: relative;
}
.advantages__choice-btn:before {
	content: '';
	background-image: url(../images/advantages-icon-btn.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 46px;
	height: 46px;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
}
.project {
	padding-bottom: 85px;
	&__text {
		text-align: center;
		&-title {
			color: $title-color;
			margin-bottom: 25px;
		}
		&-subtitle {
			color: $intro-slider-color-dots;
			margin-bottom: 50px;
			max-width: 550px;
			margin: 0 auto 50px;
			line-height: 24px;
		}
	}
}
.subtitle--bottom {
	position: relative;
}
.subtitle--bottom:before {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 2px;
	background-color: $link-bg;
}
.project__nav {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	.project__nav-item {
		color: $intro-slider-color-dots;
		font-weight: 600;
		padding: 7px 10px;
		border: none;
		outline: none;
		background-color: transparent;
		transition: 0.4s;
	}
	.project__nav-item:hover {
		background-color: $link-bg;
		color: $primary-color-text;
		border-radius: 4px;
	}
	.project__nav-item--active {
		background-color: $link-bg;
		color: $primary-color-text;
		border-radius: 4px;
	}
}
.project__gallery {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	.project__gallery-item {
		display: none;
		margin: 0 15px 30px;
		width: calc(33.33% - 30px);
		// position: relative;
	}
}
.project__gallery-item.show {
	display: block;
}
/*Delivery section*/
.delivery {
	background-image: url(../images/delivery-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	min-height: 670px;
	margin-bottom: 360px;
	&__inner-bg {
		background-color: rgba($link-bg, 0.8);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.delivery__inner {
			position: relative;
			min-height: 670px;
		}
	}
}
.delivery__order {
	padding-top: 100px;
	text-align: center;
	max-width: 600px;
	width: 100%;
	margin: 0 auto 40px;

	&-title {
		font-size: 45px;
		margin-bottom: 40px;
	}
	&-btn {
		display: inline-block;
		background-color: $primary-color-text;
		padding: 15px 45px;
		border-radius: 4px;
		font-size: 18px;
		font-weight: 600;
	}
	a.delivery__order-btn {
		color: $link-bg;
	}
}
.reviews-slider-text {
	background-color: $primary-bg;
	min-height: 550px;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	.reviews-slider-text__item {
		padding: 220px 20px 20px;
		text-align: center;
		height: 100%;
		&-desc {
			font-size: 35px;
			font-weight: 700;
			line-height: 48px;
			max-width: 750px;
			margin: 0 auto 35px;
		}
		&-author {
			font-size: 22px;
			line-height: 48px;
			margin-right: 35px;
			margin-bottom: 60px;
		}
		&-date {
			text-align: right;
			margin-top: auto;
			font-size: 18px;
		}
	}
}
.reviews-slider-photos {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}
.reviews-slider-photos__item-photo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 25px;
	margin-right: 25px;
	& img {
		width: 100%;
		height: 100%;
	}
}
/*Blog*/
.blog {
	color: $title-color;
	margin-bottom: 100px;
	&__articles {
		display: flex;
		justify-content: space-between;
		.blog__article {
			position: relative;
			&-img {
				margin-bottom: 15px;
			}
			&-date {
				position: absolute;
				top: 15px;
				left: 0;
				color: $primary-color-text;
				padding: 5px 6px;
				background-color: $link-bg;
				border-radius: 0 3px 3px 0;
			}
			&-title {
				font-size: 22px;
				font-weight: 700;
				font-family: $secondary-font;
				margin-bottom: 15px;
			}
			&-icons {
				display: flex;
				font-size: 14px;
				margin-bottom: 15px;
				color: $secondary-color-text;
				.blog__article-icon {
					padding-left: 20px;
					margin-right: 20px;
				}
				.icon {
					stroke: $link-bg;
				}
			}
			&-desc {
				margin-bottom: 10px;
				color: $secondary-color-text;
			}
			&-btn-more {
				color: $read-more-link;
				text-transform: uppercase;
				line-height: 24px;
				font-family: $secondary-font;
				font-weight: 600;
			}
		}
	}
	&__text {
		text-align: center;
		&-title {
			max-width: 550px;
			margin: 0 auto 25px;
		}
		&-subtitle {
			margin-bottom: 60px;
		}
	}
}
.blog__article--big {
	width: 50%;
	margin-right: 25px;
}
.blog__article-right {
	margin-left: auto;
	width: 45%;
	.blog__article--horizont {
		display: flex;
		justify-content: space-between;
		padding-bottom: 30px;
		margin-bottom: 40px;
		border-bottom: 1px solid rgba($services-slider-color, 0.7);
		.blog__article-inner {
			max-width: 245px;
			margin-left: 15px;
		}
	}
	.blog__article--horizont:last-child {
		border: none;
	}
}
/*Book*/
.book {
	margin-bottom: 115px;
	&__inner {
		background-image: url('../images/book-bg.jpg');
		background-repeat: no-repeat;
		background-position: top left;
		.book__right {
			margin-left: auto;
			max-width: 570px;
			color: $title-color;
			.book__text {
				background-color: $book-bgcolor;
				border-bottom: 30px solid $primary-color-text;
				padding: 75px 60px 40px 60px;
				&-subtitle {
					position: relative;
					margin-bottom: 10px;
				}
				&-title {
					margin-bottom: 40px;
				}
				.book__form input {
					padding: 20px 25px;
					width: 100%;
					margin-bottom: 10px;
					outline: none;
					border: none;
					border-radius: 5px;
				}
				.book__form input::placeholder {
					color: $title-color;
					font-family: $primary-font;
					font-size: 16px;
				}
				.book__form input:focus {
					border: 1px solid $link-bg;
				}
				.book__form-btn {
					border: none;
					outline: none;
					background-color: $link-bg;
					padding: 15px 30px;
					border-radius: 4px;
					color: $primary-color-text;
					font-size: 18px;
					font-weight: 600;
					margin-top: 10px;
				}
			}
			.book__text,
			.book__call {
				border-left: 30px solid $primary-color-text;
			}
			.book__call {
				margin-left: auto;
				max-width: 480px;
			}
		}
	}
}
.footer {
	background-color: $primary-bg;
}
.footer__top {
	border-bottom: 1px solid rgba($footer-border, 0.7);
	.footer__contacts {
		display: flex;
		justify-content: space-between;
		&-item {
			padding-top: 50px;
			padding-bottom: 50px;
			position: relative;
		}
		&-item:before {
			content: '';
			position: absolute;
			top: 0;
			right: -125px;
			height: 100%;
			width: 1px;
			background-color: rgba($footer-border, 0.7);
		}
		&-item:last-child:before {
			display: none;
		}
		// &-item--center {
		// 	text-align: center;
		// }
		// &-item--right {
		// 	text-align: right;
		// }
	}
}
.footer__content {
	background-image: url(../images/footer-bg-texture.png);
	background-size: cover;
	padding-top: 110px;
	.footer__text {
		display: flex;
		justify-content: space-between;
		padding-bottom: 90px;
		border-bottom: 1px solid rgba($footer-border, 0.7);
		&-item {
			width: 30%;
		}
		&-subtitle:before {
			left: 0;
			transform: translateX(0);
			height: 3px;
			width: 30px;
		}
		&-subtitle {
			margin-bottom: 40px;
			font-family: $primary-font;
			font-size: 22px;
		}
		&-desc {
			max-width: 300px;
			margin-bottom: 30px;
		}
		.footer__social-links {
			max-width: 210px;
			.footer__social-link {
				margin-left: 0;
				width: 37px;
				height: 37px;
				background-color: $primary-color-text;
				color: $title-color;
				line-height: 37px;
				text-align: center;
				border-radius: 50%;
				transition: 0.5s;
			}
			.footer__social-link:hover {
				background-color: $link-bg;
				color: $primary-color-text;
			}
		}
	}
}
.footer__nav {
	display: flex;
	justify-content: space-between;
	&-item {
		display: block;
		line-height: 40px;
	}
}
.footer__newsletter {
	padding-left: 40px;
	.footer__text-desc {
		margin-bottom: 40px;
	}
	.footer__email {
		width: 75%;
		outline: none;
		border: 1px solid $link-bg;
		padding: 15px 20px;
	}
	.footer__email::placeholder {
		font-family: inherit;
		font-size: inherit;
	}
	.footer__submit {
		width: 20%;
		width: 51px;
		height: 49px;
		padding: 0;
		background-color: $link-bg;
		font-family: 'icomoon';
		color: $primary-color-text;
		font-size: 18px;
		border: none;
		outline: none;
		position: relative;
		left: -5px;
		top: 4px;
		opacity: 1;
	}
	.footer__submit:hover {
		cursor: pointer;
		opacity: 0.9;
	}
}
.footer__links {
	padding-left: 25px;
}
.footer__bottom {
	padding-top: 30px;
	padding-bottom: 30px;
	.footer__logo {
		margin-right: 100px;
	}
	.footer__btn-up {
		border-radius: 4px;
		width: 35px;
		height: 37px;
		background-color: $link-bg;
		position: absolute;
		right: 7.5vw;
		font-family: $icon-font;
		text-align: center;
		font-size: 23px;
		line-height: 30px;
	}
}
@media screen and (max-width: 1440px) {
	.services__slider-inner {
		max-width: 450px;
		width: 100%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1024px) {
	.about__inner {
		background-image: none;
		.about__text,
		.about__call {
			max-width: none;
		}
		.about__text {
			border: none;
			margin-bottom: 30px;
			min-height: 440px;
		}
		.about__call {
			text-align: center;
			&-number {
				margin: auto;
			}
		}
	}
	.intro,
	.about {
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 968px) {
	.header__contacts {
		flex-direction: column;
		padding-top: 15px;
		&-item {
			margin-bottom: 15px;
		}
	}
	.header__bottom-inner {
		flex-wrap: wrap;
		.header__menu {
			order: 3;
			width: 100%;
			text-align: center;
		}
	}
}
@media screen and (max-width: 768px) {
	.header__menu,
	.header__btn-orange {
		display: none;
	}
	.header__btn-orange {
		order: 5;
	}
	.icon-menu {
		display: block;
	}
	.intro__slider-item {
		font-size: 12px;
		min-height: 500px;
	}
	.about,
	.intro {
		margin-bottom: 0;
	}
	.about__inner {
		margin-left: -15px;
		margin-right: -15px;
		.about__text {
			padding: 45px 20px;
			min-height: auto;
			margin-bottom: 0;
			.about__title {
				font-size: 33px;
				line-height: 33px;
			}
		}
		.about__call {
			padding: 30px 15px 30px 50px;
		}
	}
	.services {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 530px) {
	.header__top-inner {
		flex-direction: column;
		align-items: flex-start;
	}
	.header__social-links {
		width: 100%;
		margin-bottom: 15px;
		.header__social-link {
			margin-left: 0;
			margin-right: 20px;
		}
	}
	.intro__slider-item {
		font-size: 9px;
		min-height: 415px;
	}
}
@media screen and (max-width: 375px) {
	.intro__slider-item {
		font-size: 7px;
		min-height: 350px;
		.intro__slider-title {
			line-height: 40px;
		}
	}
	.about__inner .about__call {
		padding-top: 60px;
		padding-bottom: 20px;
	}
	.about__call-number:before {
		bottom: 65px;
		left: 50%;
		transform: translate(-50%);
		width: 40px;
		height: 40px;
	}
	.about__inner .about__text .about__title {
		font-size: 27px;
	}
	.about__inner .about__text .about__subtitle {
		font-size: 15px;
	}

	.services__slider-inner .services__slider-offer-img {
		height: 61vw;
		margin-bottom: 10px;
	}
	.services__slider-inner .services__slider-title {
		line-height: 45px;
		margin-bottom: 10px;
	}
}
